build/
server
*.o
*.dSYM/
.DS_Store
HttpServer.code-workspace
.vscode/
.build/cmake_install.cmake
.build/CMakeCache.txt
.build/compile_commands.json
.build/Makefile
.build/CMakeFiles/cmake.check_cache
.build/CMakeFiles/CMakeConfigureLog.yaml
.build/CMakeFiles/CMakeDirectoryInformation.cmake
.build/CMakeFiles/InstallScripts.json
.build/CMakeFiles/Makefile.cmake
.build/CMakeFiles/Makefile2
.build/CMakeFiles/progress.marks
.build/CMakeFiles/TargetDirectories.txt
.build/CMakeFiles/4.3.1/CMakeCXXCompiler.cmake
.build/CMakeFiles/4.3.1/CMakeDetermineCompilerABI_CXX.bin
.build/CMakeFiles/4.3.1/CMakeSystem.cmake
.build/CMakeFiles/4.3.1/CompilerIdCXX/a.out
.build/CMakeFiles/4.3.1/CompilerIdCXX/apple-sdk.cpp
.build/CMakeFiles/4.3.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
.build/CMakeFiles/server.dir/build.make
.build/CMakeFiles/server.dir/cmake_clean.cmake
.build/CMakeFiles/server.dir/compiler_depend.make
.build/CMakeFiles/server.dir/compiler_depend.ts
.build/CMakeFiles/server.dir/depend.make
.build/CMakeFiles/server.dir/DependInfo.cmake
.build/CMakeFiles/server.dir/flags.make
.build/CMakeFiles/server.dir/link.txt
.build/CMakeFiles/server.dir/progress.make
